.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 2rem 0 0.5rem 0;
    border-bottom: 2px solid black;


    .left{
        img{
            padding-left: 0.5rem;
        }
    }

    .right{

        a{
            text-decoration: none;
            font-style: none;
            color: $color_voice_navbar;
            font-weight: bold;
            padding: 0 0.5rem; 
        }

        a:first-child{
            i{
                color: $color_voice_navbar;
            }
        }

        a:last-child{
            border: 1px solid $sign_up_google;
            color: $sign_up_google     ;
            padding: 0.7rem 0.5rem;
            border-radius: 0.5rem;
            img{
                height: 20px;
                margin-bottom: -4px;
            }
        }
    }
}